.initials_field_container {
    display: flex;
    margin-bottom: 10px;
}

.initials_field_container .initials input {
    width: 40px;
}

.initials_field_container .ginput_container {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 10px;
}